<navbar
 (getTargetMuscle)="getExerciseByMuscle($event)"
 (getBodyPart)="getExerciseByBodyPart($event)"
 (getEquipment)="getExerciseByEquipment($event)"></navbar>
<ng-container *ngFor="let ex of exercises">
  <div class="card mx-auto my-4" style="width: 20rem">
    <div class="card-header">
        <h5 class="card-title">{{ ex.name }}</h5>
        <p>Target: {{ex.target}}</p>
        <p>BodyPart: {{ex.bodyPart}}</p>

    </div>
    <img *ngIf="ex" [src]="ex.gifUrl" class="card-img-top" alt="" />
  </div>
</ng-container>
